<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <p>Envio gratis a todo el pais en compras a partir de $200.000</p>
      </div>
      <div class="carousel-item">
        <p>Pagos por transferencia o mercadopago</p>
      </div>
      <div class="carousel-item">
        <p>Cambios por defectos de fabrica</p>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <i class="bi bi-caret-left-fill"></i>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"data-bs-slide="next">
      <i class="bi bi-caret-right-fill"></i>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
