.bi-caret-right-fill{
    color: #480d53;;
  }
  .bi-caret-left-fill{
    color: #480d53;;
  }

  div{
    background-color: #f4f4f4;
    padding: 1px;
    text-align: center;
    vertical-align: middle;
  }

  div p{
    margin-top: 10px;
    font-weight: bold;
  }