
.flex11 {
  flex: 1 1 auto;
}

.icons{
    margin-right: 10px;
    cursor: pointer;
}

.flexNav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

button{
    margin-right: 30px;
    text-decoration: none;
    color: azure;
}