<header>
<app-carrusel></app-carrusel>
</header>
<div class="container">
  <div class="row d-flex">
    <div class="col-8">
      <h2>Productos</h2>
      <table class="table table-borderless ">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="trCarrito" *ngFor="let detalle of carrito.detalleCarrito">
            <td class="primerTD">
              <div><img class="imagen" src="{{detalle.producto.image}}">
                <p class="nombreProducto">{{detalle.producto.name}}</p>
              </div>
            </td>
            <td>
              <div>
                <p class="number">{{detalle.producto.actualPrice | currency}}</p>
              </div>
            </td>
            <td class="tdSelecCant">
              <div class="selecCant">
                <button class="btn btn-primary btn-minus" (click)="disminuirCantidad(detalle.producto.id)"><i
                    class="bi bi-dash"></i></button>
                <div>
                  <p>{{detalle.cantidad}}</p>
                </div>
                <button class="btn btn-primary btn-plus" (click)="aumentarCantidad(detalle.producto.id)"><i
                    class="bi bi-plus"></i></button>
              </div>
            </td>
            <td>
              <div>
                <p class="number">{{detalle.cantidad * detalle.producto.actualPrice | currency}}</p>
              </div>
            </td>
            <td>
              <div class="divDelete"><button class="btn btn-danger btn-sm btn-delete"><i
                    class="bi bi-trash-fill"></i></button></div>
            </td>
          </tr>
        </tbody>
        <tr>
          <td></td>
          <td></td>
          <td>
            <div class="total-final">
              <p class="number">Subtotal: </p>
            </div>
          </td>
          <td>
            <div class="total-final">
              <p class="number">{{carrito.priceTotal | currency}}</p>
            </div>
          </td>
          <td></td>
        </tr>
      </table>
    </div>

    <div class="col-4 resumen">
      <h2>Resumen de compra</h2>
      <ul style="width: 80%;">
        <li class="d-flex justify-content-between">
          <p class="text-start ">Subtotal: </p>
          <p class="text-end">{{carrito.priceTotal | currency}}</p>
        </li>
        <li class="d-flex justify-content-between">
          <p>Envío: </p>
          <p>{{3000 | currency}}</p>
        </li>
        <li class="d-flex justify-content-between total-final">
          <p>Total: </p>
          <p>{{carrito.priceTotal + 3000 | currency}}</p>
        </li>
        <li class="d-flex flex-column  justify-content-center mt-5"><button
            class="btn btn-primary btn-finalizarCompra">Finalizar compra</button><a class="seguirComprando mt-2"
            [routerLink]="'/productos'">
            <p>seguir comprando</p>
          </a></li>

      </ul>
    </div>
  </div>
</div>