body {
    font-family: sans-serif;
  }
  
  header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  .container {
    display: flex;
    padding: 20px;
  }
  
  .productos,
  .resumen {
    flex: 1 0 48%; /* Set width to 48% for each section */
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .productos ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .productos li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .productos img {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }
  
  .productos p.precio {
    font-weight: bold;
    margin: 0;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .resumen ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .resumen li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .resumen li:last-child { /* Remove border for last item */
    border-bottom: none;
  }
  
  .total-final {
    font-weight: bold;
  }

  .imagen{
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  