body {
    font-family: roboto, sans-serif;
  }
  
  header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  .productos ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .productos li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .productos img {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }
  
  .productos p.precio {
    font-weight: bold;
    margin: 0;
  }
  
  .selecCant{
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
  }

  .selecCant div{
    margin: 0 10px;
  }

  .container{
    margin-top: 20px;
  }

  /* .productos{
    background-color: #f0f0f0;
  } */

  .resumen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: #f0f0f0;
  }

  .resumen ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .resumen li {
    padding: 5px 0px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
  }
  
  .resumen li:last-child { /* Remove border for last item */
    border-bottom: none;
  }
  
  .total-final {
    font-weight: bold;
  }

  .imagen{
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  